body {
  margin: 0;
  width: 100vw;
  font-family: roboto;
  background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 49%, rgba(184, 184, 184, 1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(220, 220, 220, 0)), color-stop(100%, rgba(184, 184, 184, 1)));
  /* safari4+,chrome */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 49%, rgba(184, 184, 184, 1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 49%, rgba(184, 184, 184, 1) 100%);
  /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 49%, rgba(184, 184, 184, 1) 100%);
  /* ie10+ */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(220, 220, 220, 0) 49%, rgba(184, 184, 184, 1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#B8B8B8', GradientType=1);
  /* ie6-9 */
  font-size: calc(5px + 1.5vw)
}

footer ul {
  text-align: center;
  list-style: none;

}

footer ul li {
  margin: 20px 0;
}

footer ul li:first-child {
  font-weight: bold;
  font-size: calc(25px + 3vw);
}

h1 {
  padding-bottom: 20px;
  font-size: calc(30px + 4vw);
  padding-top: 150px;
}

h2 {
  font-size: calc(17px + 3vw);
  font-weight: 300;
  padding-bottom: 30px;
}

main>div {
  margin: 2% 0% 2% 0%;

}
p {
  text-align: justify;
}
.gold {
  color: #d0ac3e;

}

.italic {
  font-style: italic;
}

.light-font {
  font-weight: 100;
}

.main {
  margin: 10% 15% 0% 15%;
}

.normal-font {
  font-weight: normal;
}

#second-part h3 {
  padding: 5px 0;
}

#second-part ul {
  padding-left: 0;
  list-style-position: inside;
  list-style: none;
}

#second-part ul li {
  text-align: justify;
  line-height: 150%;
}

#second-part ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 5%;
  font-size: calc(15px + 2vw);

}